<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" name="people-outline"></ion-icon>
    </ion-buttons>
    <ion-title>
      Usuarios SIAD
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <!-- Refreshser -->
  <!-- <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->

  <!-- Usuarios -->
  <app-usuarios [usuarios]="usuarios"></app-usuarios>
  <!-- <app-posts [posts]="posts"></app-posts> -->

  <!-- Inifinity Scroll -->
  <!-- <ion-infinite-scroll [disabled]="!habilitado" threshold="150px" (ionInfinite)="siguientes($event)">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>
